@model OCTWEB_NET45.Models.CommonModel
@{
    ViewBag.Title = "GetCommon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="margin-bottom: 50px;">
    <div style="display: inline-block; margin-right: 10px;">
        <a href="/DW_EngineerDrawingSetup/EDList" class="btn-outline-secondary"> <i class="fa fa-angle-left"></i> Engineer Drawing Setup</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="card-header justify-content-center">
                    <h3 class="page-title ">View Common</h3>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <p>
                                    <span class="badge badge-info" style="font-size: 18px;"><strong>Main Model</strong></span> &nbsp;
                                    <span style="color:#0b4ea0 ">
                                        <strong>Drawning Number: </strong>@Model.drawingNo, &nbsp;
                                        <strong>Model: </strong>@Model.modelNo,  &nbsp;
                                        <strong>Part Name: </strong>@Model.partName
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    @using (Html.BeginForm("GetCommon", "DW_EngineerDrawingSetup", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "Form1" }))
    {      
        <div class="row">
            <table class="tablecustom" id="table1" style="font-size:14px;">
                <thead>
                    <tr>
                        <th>
                            Items
                        </th>
                        <th>
                            Level
                        </th>
                        <th>
                            Drawing No.
                        </th>
                        <th>
                            Revision
                        </th>
                        <th>
                            Model No.
                        </th>
                        <th>
                            Semi Assembly
                        </th>
                        <th>
                            Customer No.
                        </th>
                        <th>
                            Part Name
                        </th>
                        <th>
                            Note
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ParentFormulasModelList.Select((value, i) => new { i, value }))
                    {
                        <tr>
                            <td>
                                @((item.i + 1))
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.value.level)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.value.drawingNo)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.value.revision)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.value.modelNo)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.value.semiAssembly)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.value.customerNo)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.value.partName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.value.note)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group text-center">
                    <button type="button" onclick="history.back()" name="Cancel" class="btn btn-outline-primary">
                        <i class="fas fa-undo"></i> Back
                    </button>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">

   

</script>

