@model OCTWEB_NET45.Models.SearchEmpModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Employee List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="form-row">
                <div class="col-md-6 align-self-center">
                    <h4 class="page-title ">Employee Information List <span style="color: var(--danger);">Setup</span></h4>
                </div>
                <div class="col-md-6 text-right">
                    <div class="search-stats">
                        <div class="form-row">
                            <div class="col">
                                <p>Data Update Latest: <span style="color: var(--primary); font-weight: 600;">@Model.date_dataupdate</span></p> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <p>
                                    <span>Employee Ogura Clutch:</span>
                                    <a href="javascript:void(0);" class="anchorDetail" data-id="1"><span class="stat-count">@Model.count_employee</span></a> 
                                    | <span>Sub Contractor:</span>
                                    <a href="javascript:void(0);" class="anchorDetail" data-id="0"><span class="stat-count">@Model.count_contractor</span></a> 
                                    | <span>Employee All:</span>
                                    <a href="javascript:void(0);" class="totalAll" data-id="2"><span class="stat-count">@Model.count_all</span></a>                                 
                                </p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col text-right">
                                <span id="totalAllText" style="background-color: var(--danger); font-size: 16px; color: var(--white); padding: 2px 8px; border-radius: 4px;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("EmpList", "EmployeeMaster", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "Form1" }))
            {
                <div class="form-row">
                    <div class="col">
                        <p class="text-success">@ViewBag.Message</p>
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <div class="form-row justify-content-center">
                                <div class="col">
                                    @Html.HiddenFor(m => m.rights_45)
                                    @Html.HiddenFor(m => m.rights_49)
                                    @Html.HiddenFor(m => m.count_employee)
                                    @Html.HiddenFor(m => m.count_contractor)
                                    @Html.HiddenFor(m => m.count_all)
                                    @Html.HiddenFor(m => m.date_dataupdate)
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="mb-0">Emp Id:</label>
                                        @Html.TextBoxFor(m => m.emp_id, new { @class = "form-control form-control-sm", style = "width:100%", oninput = "this.value = this.value.replace(/[^0-9]/g, '').replace(/^0+/, '');", maxlength = "6" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="mb-0">First Name:</label>
                                        @Html.TextBoxFor(m => m.fname, new { @class = "form-control form-control-sm", style = "width:100%", oninput = "this.value = this.value.replace(/[^a-zA-Z]/g, '');" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="mb-0">Last Name:</label>
                                        @Html.TextBoxFor(m => m.lname, new { @class = "form-control form-control-sm", style = "width:100%", oninput = "this.value = this.value.replace(/[^a-zA-Z]/g, '')" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="mb-0">Nick Name:</label>
                                        @Html.TextBoxFor(m => m.nickname, new { @class = "form-control form-control-sm", style = "width:100%", oninput = "this.value = this.value.replace(/[^a-zA-Z]/g, '')" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="mb-0">Cost Center:</label>
                                        @Html.DropDownList("costcenter", Model.SelectCostCenter, "All", new { style = "width:100%", @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="mb-0">Position:</label>
                                        @Html.DropDownList("position", Model.SelectPosition, "All", new { style = "width:100%", @class = "form-control form-control-sm" })
                                    </div>
                                </div>                   
                            </div>
                            <div class="form-row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="mb-0">Department:</label>
                                        @Html.DropDownList("deptname", Model.SelectDepartment, "All", new { style = "width:100%", @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="mb-0">Nationality:</label>
                                        @Html.DropDownList("nationality", Model.SelectNational, "All", new { style = "width:100%", @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="mb-0">ID Number:</label>
                                        @if (Model.rights_45)
                                        {
                                            @Html.TextBoxFor(m => m.idnumber, new { @class = "form-control form-control-sm", style = "width:100%", oninput = "handleInput(event)", maxlength = "17" })
                                        }
                                        else
                                        {
                                            <input type="text" name="idnumber_show" class="form-control form-control-sm" readonly="readonly" />
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="mb-0">Employee Status:</label>
                                        @Html.DropDownList("emp_status", Model.SelectEmpStatus, "All", new { style = "width:100%", @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @{
                                            string startdate_str = null;
                                        }
                                        @if (Model.dateworking_start.HasValue)
                                        {
                                            startdate_str = Model.dateworking_start.Value.ToString("yyyy-MM-dd");
                                        }
                                        <label class="mb-0">Start working date:</label>
                                        <input type="date" name="dateworking_start" class="form-control form-control-sm date" value="@startdate_str" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @{
                                            string enddate_str = null;
                                        }
                                        @if (Model.dateworking_end.HasValue)
                                        {
                                            enddate_str = Model.dateworking_end.Value.ToString("yyyy-MM-dd");
                                        }
                                        <label class="mb-0">to</label>
                                        <input type="date" name="dateworking_end" class="form-control form-control-sm date" value="@enddate_str" />
                                    </div>
                                </div>
                            </div> 
                            <div class="form-row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="mb-0">Education:</label>
                                        @Html.DropDownList("education", Model.SelectEducation, "All", new { style = "width:100%", @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <div class="col-md-4 align-self-end">
                                    <div class="form-group">
                                        @if (Model.rights_49)
                                        {
                                            <button type="button" id="ExportToCsvBtn" name="ExportToCsvBtn" class="btn btn-sm btn-outline-primary">
                                                <i class="fas fa-download btn-icon"></i> Export
                                            </button>
                                            <input hidden="hidden" id="ExportToCsv" name="ExportToCsv" value="null" />
                                        }

                                        <button id="clear" type="button" name="clear" class="btn btn-sm btn-outline-dark">
                                            <i class="fa fa-eraser btn-icon" aria-hidden="true"></i> Clear
                                        </button>

                                        <a href="@Url.Action("Create", "EmployeeMaster")" class="btn btn-sm btn-primary">
                                            <i class="fas fa-plus btn-icon"></i>
                                            <span>Create</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 align-self-end">
                                    <div class="form-group">
                                        <button type="submit" id="SearchBtn" name="SearchBtn" class="btn btn-sm btn-success" value="Search">
                                            <i class="fa fa-search btn-icon" aria-hidden="true"></i> Search
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-4 align-self-end">
                                    <div class="search-stats">
                                        <p>
                                            <span>Employee Ogura Clutch:</span>
                                            <a href="#" id="count_employee_search" title="@Model.count_employee_search_detail"><span class="stat-count">@Model.count_employee_search</span></a>
                                            | <span>Sub Contractor:</span>
                                            <a href="#" title="@Model.count_contractor_search_detail"><span class="stat-count">@Model.count_contractor_search</span></a>
                                            | <span>Employee All:</span>
                                            <a href="#" title="@Model.count_all_search_detail"><span class="stat-count">@Model.count_all_search</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if(Model.EmployeePagedList != null && Model.EmployeePagedList.Any()){
    using (Html.BeginForm("EmpList", "EmployeeMaster", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "Form1" }))
    {
        <div class="table-responsive">
            <table class="tablecustom " id="table1" style="font-size:14px">
                <thead>
                    <tr>
                        <th width=3%>
                            Items
                        </th>
                        <th width=6%>
                            Emp ID
                        </th>
                        <th width=6%>
                            Picture
                        </th>
                        <th width=20%>
                            Name (Eng)
                        </th>
                        <th width=20%>
                            Name (Thai)
                        </th>
                        <th width=15%>
                        Position
                        </th>
                        <th width=10%>
                            Department
                        </th>
                        <th width=10%>
                            CostCenter
                        </th>
                        <th width=5%>
                            Nationality
                        </th>
                        <th width=5%>
                            Details
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.EmployeePagedList.Select((value, i) => new { i, value }))
                    {
                        <tr>
                            <td>
                                @((item.i + 1) + (30 * (Model.EmployeePagedList.PageNumber - 1)))

                            </td>
                            <td>
                            @Html.DisplayFor(modelItem => item.value.EmpID)
                            </td>
                            <td>
                                <img style="border:1px solid black;" src="@item.value.emp_profile" height="80" width="50" /> 
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.value.name_eng)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.value.name_th)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.value.Position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.value.DeptDesc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.value.CostCenterName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.value.Nation)
                            </td>
                            <td>
                                <a href="@Url.Action(actionName: "EmpDetail"
                                    , controllerName: "EmployeeMaster"
                                    , routeValues: new { id = item.value.EmpID })" class="btn btn-sm btn-primary" >
                                    <i class="fas fa-book"></i> Detail
                                </a>
                                
                            </td>                          
                        </tr>

                    }
                </tbody>
            </table>
        </div>  
    }
    <div class="row justify-content-center">
        Page @(Model.EmployeePagedList.PageCount < Model.EmployeePagedList.PageNumber ? 0 : Model.EmployeePagedList.PageNumber) of @Model.EmployeePagedList.PageCount
    </div>
    <div class="row justify-content-center">
        @Html.PagedListPager(Model.EmployeePagedList, page => Url.Action("EmpList", new RouteValueDictionary()
            {
                {"Page",page},
                {"emp_id",Model.emp_id},
                {"nickname",Model.nickname},
                {"fname",Model.fname},
                {"lname",Model.lname},
                {"idnumber",Model.idnumber},
                {"position",Model.position},
                {"deptname",Model.deptname},
                {"education",Model.education},
                {"costcenter",Model.costcenter},
                {"nationality",Model.nationality},
                {"dateworking_start",Model.dateworking_start},
                {"dateworking_end",Model.dateworking_end},
                {"emp_status",Model.emp_status},  
            }))
    </div>
}



<script language="JavaScript">
    // Listen for click on toggle checkbox
    $('#select-all').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
        } else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
        }
    });

    $(document).on('select2:open', function (e) {
        const selectId = e.target.id;
        $(".select2-search__field[aria-controls='select2-" + selectId + "-results']").each(function (key, value) {
            value.focus();
        });
    });

    $(document).ready(function () {
        /*
        $("#position").select2({
            placeholder: "All",
            allowClear: true,
            width: 'resolve'
        });
        $("#deptcode").select2({
            placeholder: "All",
            allowClear: true,
            width: 'resolve'
        });
        $("#education").select2({
            placeholder: "All",
            allowClear: true,
            width: 'resolve'
        });
        $("#costcenter").select2({
            placeholder: "All",
            allowClear: true,
            width: 'resolve'
        });
        $("#nationality").select2({
            placeholder: "All",
            allowClear: true,
            width: 'resolve'
        });
        $("#emp_status").select2({
            placeholder: "All",
            allowClear: true,
            width: 'resolve'
        });
       */
    });

    $("#SearchBtn").click(function () {
        $("#ExportToCsv").val("");
        document.forms["Form1"].submit();
    })

    $("#ExportToCsvBtn").click(function () {
        $("#ExportToCsv").val("ExportToCsv");
        document.forms["Form1"].submit();
    })

    $("#deleteall").click(function () {
        $("#ExportToCsv").val("");
        if (confirm('Delete all selected elements?')) {
            document.forms["Form2"].submit();
        }
    })

    /*
    $("body").on("change", "#searchDepartmentId", function () {
        if ($('#searchDepartmentId').val())
        {
            $("#searchWorkingStandardTypeId").val("");
            $("#searchWorkingStandardProcessId").val("");
            $("#searchWorkingStandardName").val("");
            $("#searchWorkingStandardNo").val("");
            $("#submit_var").val("selected_department");
            document.forms["Form1"].submit();
        }
    }); */

    $("#clear").click(function () {
        $('#position').val(null).trigger('change');
        $('#deptname').val(null).trigger('change');
        $('#education').val(null).trigger('change');
        $('#costcenter').val(null).trigger('change');
        $('#nationality').val(null).trigger('change');
        $('#emp_status').val(null).trigger('change');

        $('#emp_id').val(null).trigger('change');
        $('#nickname').val(null).trigger('change');
        $('#fname').val(null).trigger('change');
        $('#lname').val(null).trigger('change');
        $('#idnumber').val(null).trigger('change');
        $("input[type=date]").val("");

    });


    $("#table1 tbody tr").click(function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            $(this).addClass('selected');
        }
    });


    $(document).ready(function () {

        $("#emp_id").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/EmployeeMaster/GetEmpId",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    }
                })
            },
            messages: {
                noResults: 'No results found.',
                results: function (count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            },
        });

        $("#nickname").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/EmployeeMaster/GetNName",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    }
                })
            },
            messages: {
                noResults: 'No results found.',
                results: function (count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            },
        });

        $("#fname").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: " /EmployeeMaster/GetFName",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    }
                })
            },
            messages: {
                noResults: 'No results found.',
                results: function (count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            },
        });

        $("#lname").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: " /EmployeeMaster/GetLName",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    }
                })
            },
            messages: {
                noResults: 'No results found.',
                results: function (count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            },
        });

        $("#idnumber").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: " /EmployeeMaster/GetIDNumber",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    }
                })
            },
            messages: {
                noResults: 'No results found.',
                results: function (count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            },
        });
    })


    var TeamPostBackURL = '/EmployeeMaster/GetEmpSum';
    $(function () {
        $(".anchorDetail").click(function () {
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
        //$("#closebtn").on('click',function(){
        //    $('#myModal').modal('hide');

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });

    $(function () {
        $(".totalAll").hover(function () {
            var id = 2;
            $.ajax({
                type: "GET",
                url: "/EmployeeMaster/GetTotalAll",
                contentType: "application/json; charset=utf-8",
                data: { "id": id },
                datatype: "json",
                success: function (data) {
                    debugger;
                    var male = data.sum_male;
                    var female = data.sum_female;

                    $("#totalAllText").text("Male: " + male + ", Female: " + female);
                    $('#totalAllText').show("slow");
                    //$('.totalAll').attr("title", "Male: " + male + ", Female: " + female);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });

        }, function () {
            setTimeout(function () {
                if (!($('.totalAll:hover').length > 0))
                    $('#totalAllText').hide();
            }, 300);
        });

    });

    document.addEventListener("DOMContentLoaded", () => {
        const formatInput = (value) => {
            return value.replace(/\D/g, "") // ลบอักขระที่ไม่ใช่ตัวเลข
                .replace(/(\d{1,1})(\d{0,4})(\d{0,5})(\d{0,2})(\d{0,1})/, (match, p1, p2, p3, p4, p5) => {
                    return [p1, p2, p3, p4, p5].filter(Boolean).join("-");
                });
        };

        const handleInput = (event) => {
            let input = event.target;
            let cursor = input.selectionStart;
            let formattedValue = formatInput(input.value);

            let diff = formattedValue.length - input.value.length;
            input.value = formattedValue;
            input.setSelectionRange(cursor + diff, cursor + diff);
        };

        let idInput = document.querySelector("input[name='idnumber']");
        if (idInput) {
            idInput.addEventListener("input", handleInput);
        }
    });


</script>