@model IEnumerable<OCTWEB_NET45.Models.UserGroupModel>
@{
    ViewBag.Title = "User Group List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="card">
        <div class="card-header">
            <div class="container ">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title ">
                            User Groups
                            <span style="color:red;"></span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col">
                    @using (Html.BeginForm("userGroupList", "UserGroup", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Form1" }))
                    {
                        <fieldset>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Group Name: </label>
                                        <input type="text" name="searchGroupname" value=@ViewData["searchGroupname"] class="form-control form-control-sm" placeholder="" />
                                    </div>
                                </div>
                                <div class="col align-self-end">
                                    <div class="form-group">
                                        <button type="submit" value="Search" class="btn btn-sm btn-success">
                                            <i class="fas fa-search"></i> Search
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
            
        </div>
    </div>

    <div class="row">
        <p class="text-success">@ViewBag.Message</p>
        @Html.ValidationSummary(true)
    </div>
    <div class="row">
        <div>
            <a href="@Url.Action(actionName: "createUserGroup", controllerName: "UserGroup")" class="btn btn-sm btn-primary" >
                <i class="fas fa-plus"></i> Create
            </a>
            
            <button type="button" id="deleteall" name="deleteall" value="Delete" class="btn btn-sm btn-danger">
                <i class="fas fa-trash-alt"></i> Delete
            </button> 
        </div>
    </div>
    
</div>



<div class="container-fluid">
    @using (Html.BeginForm("deleteUserGroup", "UserGroup", FormMethod.Post, new { @class = "form-horizontal", role = "form",id="Form2" }))
    {
         

    <div class="row">
        <table class="tablecustom" id="table1" style="font-size:14px;">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="select-all" id="select-all" />
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Items
                    </th>
                    <th>
                        Group Name
                    </th>
                    <th>
                        Memo
                    </th>
                    <th>
                        Member
                    </th>
                    <th>
                        Add New Member
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Select((value, i) => new { i, value }))
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="selectedItem" value="@(item.value.USG_Id)" />

                        </td>
                        <td>
                            <a href="@Url.Action(actionName: "editUserGroup"
                            , controllerName: "UserGroup"
                            , routeValues: new {id=item.value.USG_Id })" class="btn btn-sm btn-success">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                        </td>
                        <td>
                            @(item.i + 1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.value.USG_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.value.USG_Memo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.value.memberNumber)
                        </td>
                        <td>
                            <a href="@Url.Action(actionName: "addGroupMember"
                            , controllerName: "UserGroup"
                            , routeValues: new {id=item.value.USG_Id })" class="btn btn-sm btn-primary">
                                <i class="fas fa-plus"></i> Add New Member
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    }
</div>

<script language="JavaScript">
    // Listen for click on toggle checkbox
    $('#select-all').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
        } else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
        }
    });

    $("#deleteall").click(function () {
        if (confirm('Delete all selected elements?')) {
            document.forms["Form2"].submit();
        }
    })

</script>