@model OCTWEB_NET45.Models.ProblemModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="margin-bottom: 50px;">
    <div style="display: inline-block; margin-right: 10px;">        
        <a href="/QRAP_InformProblem/List" class="btn-outline-secondary"><i class="fa fa-angle-left"></i> Inform Problem List </a>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="card-header justify-content-center">
                    <h3 class="page-title ">Add New Problem</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Create", "QRAP_InformProblem", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Form1", enctype = "multipart/form-data" }))
                    {
                        <div class="form-row justify-content-center">
                            <div class="col">
                                <div class="form-group">
                                    @Html.ValidationSummary(true)
                                    <p class="text-danger">@ViewBag.Message</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Problem: </label>
                                    @Html.TextBoxFor(m => m.detail, new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(m => m.detail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Occur Date: </label>
                                    <input type="date" id="date" name="date" class="form-control form-control-sm" value="@Model.date.ToString("yyyy-MM-dd")">
                                    @Html.ValidationMessageFor(m => m.date, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Response Dept.:</label>
                                    @Html.DropDownList("department_id", Model.SelectDepartmet, "", new { @class = "form-control form-control-sm", style = "width:100%" })
                                    @Html.ValidationMessageFor(m => m.department_id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Detail File:</label>
                                    @Html.TextBox("file", "", new { @class = "form-control form-control-sm", type = "file" })
                                </div>
                            </div>                    
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Reason: </label>
                                    @Html.TextAreaFor(m => m.reason, new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(m => m.reason, "", new { @class = "text-danger" })
                                </div>
                            </div>   
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="col">
                                <div class="form-group text-center">
                                    <button type="submit" value="Create" class="btn btn-primary btn-sm">
                                        <i class="fas fa-save"></i> Save
                                    </button>
                                    &nbsp;
                                    <button type="button" onclick="history.back()" name="Cancel" class="btn btn-outline-primary btn-sm">
                                        <i class="fas fa-ban"></i> Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script language="JavaScript">
    $(document).on('select2:open', function (e) {
        const selectId = e.target.id;
        $(".select2-search__field[aria-controls='select2-" + selectId + "-results']").each(function (key, value) {
            value.focus();
        });
    });

    $(document).ready(function () {

        $("#department_id").select2({
            placeholder: "Select",
            allowClear: true,
            width: 'resolve'
        });
    });


</script>

