@model OCTWEB_NET45.Models.WSR_CompRuleTypeModel
@{
    ViewBag.Title = "Edit Company Rule Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <a href="/CompanyRuleTypeSet/CompanyRuleTypeSetList" class="btn-outline-secondary"><i class="fa fa-angle-left"></i> Company Rule Type List </a>
    </div>
    <div class="row">
        <div class="container">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="card-header justify-content-center">
                    <h3 class="page-title ">Edit Company Rule Type</h3>
                    <p class="text-danger">@ViewBag.Message</p>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("EditCompRuleType", "CompanyRuleTypeSet", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(m => m.CRT_Id, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Company Rule Type: </label>
                                    @Html.TextBoxFor(m => m.CRT_Type, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CRT_Type)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Note: </label>
                                    @Html.TextAreaFor(m => m.CRT_Note, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CRT_Note)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group text-center">
                                    <button type="submit" value="Edit" class="btn btn-success">
                                        <i class="fas fa-save"></i> Save
                                    </button>
                                    &nbsp;
                                    <button type="button" onclick="history.back()" name="Cancel" class="btn btn-outline-primary">
                                        <i class="fas fa-ban"></i> Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

