@model OCTWEB_NET45.Models.CompanyRuleSetModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Company Rule Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h4 class="page-title ">Company Rule <span style="color:red;">Setup</span></h4>
                    <p class="text-success">@ViewBag.Message</p>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="card-body">
             <div class="row">
                <div class="col">
                    @using (Html.BeginForm("CompanyRuleSetList", "CompanyRuleSet", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "Form1" }))
                    {
                        <fieldset>
                            <div class="form-row justify-content-center">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="mb-1">Company Rule Type: </label>
                                        @Html.DropDownList("searchCompanyRuleTypeId", Model.SelectCompanyRuleType, "All", new { @class = "form-control form-control-sm", style = "width:100%" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="mb-1">Company Rule Name: </label>
                                        @Html.TextBoxFor(m => m.searchCompanyRuleName, new { @class = "form-control form-control-sm", style = "width:100%" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="mb-1">Company Rule No: </label>
                                        @Html.TextBoxFor(m => m.searchCompanyRuleNo, new { @class = "form-control form-control-sm", style = "width:100%" })
                                    </div>
                                </div>
                                <div class="col-md-6 align-self-end">
                                    <div class="form-group">
                                        <button type="button" id="SearchBtn" name="SearchBtn" value="Search" class="btn btn-sm btn-success">
                                            <i class="fas fa-search"></i> Search
                                        </button>
                                        <button type="button" id="ExportToCsvBtn" name="ExportToCsvBtn" value="Export" class="btn btn-sm btn-outline-primary">
                                            <i class="fas fa-file"></i> Export
                                        </button>
                                        <input hidden="hidden" id="ExportToCsv" name="ExportToCsv" value="null" />

                                        <button id="clear" type="button" name="clear" class="btn btn-sm btn-outline-dark">
                                            <i class="fas fa-eraser"></i> Clear
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
    
   
</div>
<div class="container-fluid">
    @using (Html.BeginForm("DeleteCompanyRule", "CompanyRuleSet", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "Form2" }))
    {
         <div class="row">
            <div class="col">
                <div class="form-group">
                     <a href="@Url.Action(actionName:"CreateCompanyRule",controllerName:"CompanyRuleSet")" class="btn btn-sm btn-primary" >
                        <i class="fas fa-plus"></i> Add
                    </a>
                    <button type="button" id="deleteall" name="deleteall" value="Delete" class="btn btn-sm btn-danger" >
                        <i class="fas fa-trash-alt"></i> Delete
                    </button> 
                </div>
            </div>
        </div>
        <div class="row">
            <table class="tablecustom" id="table1" style="font-size:14px;">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="select-all" id="select-all" />
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Items
                        </th>
                        <th>
                            File
                        </th>
                        <th>
                            Company rule No.
                        </th>
                        <th>
                            Rev
                        </th>
                        <th>
                            Company rule Name
                        </th>
                        <th>
                            Company rule Type
                        </th>
                        <th>
                            Note
                        </th>
                        <th>
                            Update
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.WSR_CompRuleModelPagedList.Select((value, i) => new { i, value }))
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="selectedItem" value="@(item.value.CR_Id)" />
                            </td>
                            <td>
                                <a href="@Url.Action(actionName: "EditCompRule"
                                        , controllerName: "CompanyRuleSet"
                                        , routeValues: new { id = item.value.CR_Id})" class="btn btn-sm btn-success">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                            </td>
                            <td>
                                @((item.i + 1) + (30 * (Model.WSR_CompRuleModelPagedList.PageNumber - 1)))
                            </td>
                            <td>
                                <a href="@Url.Action(actionName: "DownloadFile"
                                    , controllerName: "CompanyRuleSet"
                                    , routeValues: new {fileName= item.value.CR_File , RuleNumber = item.value.CR_Number})" class="btn btn-sm link-info" >
                                    <i class="fas fa-download"></i> Download
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.value.CR_Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.value.CR_Rev)
                            </td>
                            <td>
                                <!--Html.DisplayFor(modelItem => item.value.CR_Name)-->
                                @Html.Raw(item.value.CR_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.value.CompRuleType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.value.CR_Note)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.value.CR_Update)
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    }
    <div class="row justify-content-center">
        Page @(Model.WSR_CompRuleModelPagedList.PageCount < Model.WSR_CompRuleModelPagedList.PageNumber ? 0 : Model.WSR_CompRuleModelPagedList.PageNumber) of @Model.WSR_CompRuleModelPagedList.PageCount
    </div>
    <div class="row justify-content-center">
        @Html.PagedListPager(Model.WSR_CompRuleModelPagedList, page => Url.Action("CompanyRuleList", new RouteValueDictionary()
            {
                {"Page",page},
                {"searchCompanyRuleTypeId",Model.searchCompanyRuleTypeId},
                {"searchCompanyRuleName",Model.searchCompanyRuleName},
                {"searchCompanyRuleNo",Model.searchCompanyRuleNo}
            }))
    </div>

</div>


<script>
    // Listen for click on toggle checkbox
    $('#select-all').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
        } else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
        }
    });

    $(document).on('select2:open', function (e) {
        const selectId = e.target.id;
        $(".select2-search__field[aria-controls='select2-" + selectId + "-results']").each(function (key, value) {
            value.focus();
        });
    });

    $("#SearchBtn").click(function () {
        $("#ExportToCsv").val("");
        document.forms["Form1"].submit();
    })

    $("#ExportToCsvBtn").click(function () {
        $("#ExportToCsv").val("ExportToCsv");
        document.forms["Form1"].submit();
    })

    $("#deleteall").click(function () {
        $("#ExportToCsv").val("");
        if (confirm('Delete all selected elements?'))
        {
            document.forms["Form2"].submit();
        }
    })

    $(document).ready(function () {
        /*
        $("#searchCompanyRuleTypeId").select2({
            placeholder: "All",
            allowClear: true,
            width: 'resolve'
        });*/
        $("#searchCompanyRuleName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/CompanyRuleSet/GetComRuleName",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    }
                })
            },
            messages: {
                noResults: 'No results found.',
                results: function (count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            },
        });

        $("#searchCompanyRuleNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/CompanyRuleSet/GetComRuleNo",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    }
                })
            },
            messages: {
                noResults: 'No results found.',
                results: function (count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            },
        });

    });

    $("#clear").click(function () {
        $('#searchCompanyRuleTypeId').val(null).trigger('change');
        $('#searchCompanyRuleName').val(null).trigger('change');
        $('#searchCompanyRuleNo').val(null).trigger('change');
    });

    $("#table1 tbody tr").click(function () {

        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            $(this).addClass('selected');
        }

    });
        @if (TempData["message"] != null)
        {
            <text>
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดข้อผิดพลาด',
                    text: '@TempData["message"]'
                });


            </text>
        }
</script>