@model OCTWEB_NET45.Models.WSR_CompRuleSetModel
@{
    ViewBag.Title = "CreateCompanyRule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <a href="/CompanyRuleSet/CompanyRuleSetList" class="btn-outline-secondary"><i class="fa fa-angle-left"></i> Company Rule List </a>
    </div>
    <div class="row">
        <div class="container">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="card-header justify-content-center">
                    <h3 class="page-title ">Create Company Rule</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("CreateCompanyRule", "CompanyRuleSet", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        <div class="form-row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <p class="text-danger">@ViewBag.Message</p>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Company Rule No: </label>
                                    @Html.TextBoxFor(m => m.CR_Number, new { @class = "form-control form-control-sm", style = "width:100%" })
                                    <p class="text-danger">@Html.ValidationMessageFor(m => m.CR_Number)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Company Rule Name (English): </label>
                                    @Html.TextBoxFor(m => m.CR_Name_eng, new { @class = "form-control form-control-sm", style = "width:100%" })
                                    <p class="text-danger">@Html.ValidationMessageFor(m => m.CR_Name_eng)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Company Rule Name (ภาษาไทย): </label>
                                    @Html.TextBoxFor(m => m.CR_Name_th, new { @class = "form-control form-control-sm", style = "width:100%" })
                                    <p class="text-danger">@Html.ValidationMessageFor(m => m.CR_Name_th)</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-row justify-content-center">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Company Rule Type: </label>
                                    @Html.DropDownList("CompanyRuleTypeId", Model.SelectCompanyRuleType, "Select Company Rule Type", new { @class = "form-control form-control-sm", style = "width:100%" })
                                    <p class="text-danger">@Html.ValidationMessageFor(m => m.CompanyRuleTypeId)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Revision: </label>
                                    @Html.TextBoxFor(m => m.CR_Rev, new { @class = "form-control form-control-sm", style = "width:100%" })
                                    <p class="text-danger">@Html.ValidationMessageFor(m => m.CR_Rev)</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Date Update: </label>
                                    <input type="date" name="CR_Update" class="form-control form-control-sm date" value="@Model.CR_Update.ToString("yyyy-MM-dd")" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Company Rule File: </label>
                                    @Html.TextBox("file", "", new { @class = "form-control form-control-sm", type = "file" })
                                    <!--Html.EditorFor(model => model.file, new { class = "form-control", type = "file"})-->
                                    <!--Html.ValidationMessageFor(m => m.file,"", new { class = "text-danger" })-->
                                </div>
                            </div>
                            <div class="col-md-8 ">
                                <div class="form-group">
                                    <label>Note: </label>
                                    @Html.TextAreaFor(m => m.CR_Note, new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(m => m.CR_Note)
                                </div>
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="col justify-content-center">
                                <div class="form-group text-center">
                                    <button type="submit" value="Save" class="btn btn-primary">
                                        <i class="fas fa-save" ></i> Save
                                    </button>
                                    &nbsp;
                                    <button type="button" onclick="history.back()" name="Cancel" class="btn btn-outline-primary">
                                        <i class="fas fa-ban"></i> Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script language="javaScript">
    $(document).on('select2:open', function (e) {
        const selectId = e.target.id;
        $(".select2-search__field[aria-controls='select2-" + selectId + "-results']").each(function (key, value) {
            value.focus();
        });
    });


    $(document).ready(function () {
        /*
        $("#CompanyRuleTypeId").select2({
            placeholder: "Select Company Rule Type",
            allowClear: true,
            width: 'resolve'
        }); */    
    });


</script>