@model OCTWEB_NET45.Models.ProcessModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="margin-bottom: 50px;">
    <div style="display: inline-block; margin-right: 10px;">
        <a href="/DW_ProcessSetup/ProcessList" class="btn-outline-secondary"> <i class="fa fa-angle-left"></i> Process Setup </a>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="card-header justify-content-center">
                    <h3 class="page-title ">Edit Process</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Edit", "DW_ProcessSetup", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Form1", enctype = "multipart/form-data" }))
                    {
                        <div class="form-row justify-content-center">
                            <div class="col">
                                <div class="form-group">
                                    @Html.ValidationSummary(true)
                                    <p class="text-danger">@ViewBag.Message</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Process Code: </label>
                                    @Html.TextBoxFor(m => m.processCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.processCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Process No: </label>
                                    @Html.TextBoxFor(m => m.processNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.processNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Group Line Name: </label>
                                    @Html.DropDownList("partName_id", Model.SelectPartName, " ", new { @class = "form-control", style = "width:100%" })
                                    @Html.ValidationMessageFor(m => m.partName_id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="col">
                                <div class="form-group text-center">
                                    <button type="submit" value="Create" class="btn btn-success">
                                        <i class="fas fa-save"></i> Save
                                    </button>
                                    &nbsp;
                                    <button type="button" onclick="history.back()" name="Cancel" class="btn btn-outline-primary">
                                        <i class="fas fa-ban"></i> Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script language="JavaScript">
    $(document).on('select2:open', function (e) {
        const selectId = e.target.id;
        $(".select2-search__field[aria-controls='select2-" + selectId + "-results']").each(function (key, value) {
            value.focus();
        });
    });

    $(document).ready(function () {
        /*
        $("#partName_id").select2({
            placeholder: "Select",
            allowClear: true,
            width: 'resolve'
        });*/
    });
</script>

