@model OCTWEB_NET45.Models.ProcessListModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Process List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h4 class="page-title ">Process <span style="color:red;">Setup</span></h4>
                    <p class="text-success">@ViewBag.Message</p>
                    <p class="text-danger">@ViewBag.ErrorMessage</p>
                    @Html.ValidationSummary(true)
                </div>
            </div>
        </div>
	    <div class="card-body">
            @using (Html.BeginForm("ProcessList", "DW_ProcessSetup", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "Form1" }))
            {
                <div class="row">
                    <div class="col">
                        <fieldset>
                            <div class="form-row justify-content-center">
                                <div class="col-md-2 px-1">
                                    <div class="form-group">
                                        <label>Process Code: </label>
                                        @Html.TextBoxFor(m => m.search_processCode, "", new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <div class="col-md-3 px-1">
                                    <div class="form-group">
                                        <label>Group Line Name: </label>
                                        @Html.DropDownList("search_partName_id", Model.SelectPartName, "All", new { @class = "form-control form-control-sm", style = "width:100%" })
                                    </div>
                                </div>
                                <div class="col-md-3 px-1">
                                    <div class="form-group">
                                        <label>Process Number: </label>
                                        @Html.TextBoxFor(m => m.search_processNo, "", new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <div class="col-md-4 align-self-end">
                                    <div class="form-group">
                                        <button type="submit" id="SearchBtn" name="SearchBtn" class="btn btn-sm btn-success" value="Search">
                                            <i class="fas fa-search"></i> Search
                                        </button>
                                        <button type="button" name="ExportToCsvBtn" id="ExportToCsvBtn" class="btn btn-sm btn-outline-primary" value="Export">
                                            <i class="fas fa-download"></i> Export
                                        </button>
                                        <input hidden="hidden" id="ExportToCsv" name="ExportToCsv" value="null" />

                                        <button id="clear" type="button" name="clear" class="btn btn-sm btn-outline-dark">
                                            <i class="fas fa-eraser"></i> Clear
                                        </button>
                                    </div>    
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="container-fluid">
    @using (Html.BeginForm("Delete", "DW_ProcessSetup", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Form2" }))
    {
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <a href="@Url.Action(actionName:"Create"
                        , controllerName: "DW_ProcessSetup")" class="btn btn-sm btn-primary">
                        <i class="fas fa-plus"></i> Add
                    </a>

                    <button type="button" id="deleteall" name="deleteall" value="Delete" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash-alt"></i> Delete
                    </button>
                </div>
            </div>
        </div>
    <div class="row justify-content-center">
        <div class="col">
            <table class="tablecustom" id="table1" style="font-size:14px; width:100%">
                <thead>
                    <tr>
                        <th width="5%">
                            <input type="checkbox" name="select-all" id="select-all" />
                        </th>
                        <th width="10%">
                            Edit
                        </th>
                        <th width="5%">
                            Items
                        </th>
                        <th width="15%">
                            Process Code
                        </th>
                        <th width="15%">
                            Process Number
                        </th>
                        <th width="50%">
                            Group Line Name
                        </th>
                    </tr>
                </thead>
                <!--<tbody>
                    foreach (var item in Model.ProcessPagedList.Select((value, i) => new { i, value }))
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="selectedItem" value="(item.value.id)" />
                            </td>
                            <td class="text-center">
                                <a href="Url.Action(actionName: "Edit"
                                     , controllerName: "DW_ProcessSetup"
                                     , routeValues: new {id = item.value.id })" class="btn btn-sm btn-success">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                            </td>
                            <td>
                                ((item.i + 1) + (30 * (Model.ProcessPagedList.PageNumber - 1)))
                            </td>
                            <td>
                                Html.DisplayFor(m => item.value.processCode)
                            </td>
                            <td>
                                Html.DisplayFor(m => item.value.processNo)
                            </td>
                            <td>
                                Html.DisplayFor(m => item.value.partName)
                            </td>
                        </tr>
                    }
                </tbody>-->
            </table>
        </div>
    </div>
    }
    <!--<div class="row justify-content-center">
        Page (Model.ProcessPagedList.PageCount < Model.ProcessPagedList.PageNumber ? 0 : Model.ProcessPagedList.PageNumber) of Model.ProcessPagedList.PageCount
    </div>
    <div class="row justify-content-center">
        Html.PagedListPager(Model.ProcessPagedList, page => Url.Action("ProcessList", new RouteValueDictionary()
        {
            {"Page",page},
            {"search_processCode",Model.search_processCode},
            {"search_processNo",Model.search_processNo},
            {"search_partName_id",Model.search_partName_id},
        }))
    </div>-->
</div>

<script language="JavaScript">
    // Listen for click on toggle checkbox
    $('#select-all').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
        } else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
        }
    });

    $(document).on('select2:open', function (e) {
        const selectId = e.target.id;
        $(".select2-search__field[aria-controls='select2-" + selectId + "-results']").each(function (key, value) {
            value.focus();
        });
    });

    $("#SearchBtn").click(function () {
        $("#ExportToCsv").val("");
        document.forms["Form1"].submit();
    })

    $("#ExportToCsvBtn").click(function () {
        $("#ExportToCsv").val("ExportToCsv");
        document.forms["Form1"].submit();
    })

    $("#deleteall").click(function () {
        $("#ExportToCsv").val("");
        if (confirm('Delete all selected elements?')) {
            document.forms["Form2"].submit();
        }
    })


    $("#clear").click(function () {
        $('#search_processCode').val(null).trigger('change');
        $('#search_processNo').val(null).trigger('change');
        $('#search_partName_id').val(null).trigger('change');
    });

   
    $("#table1 tbody tr").click(function () {

        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            $(this).addClass('selected');
        }
    });

    $(document).ready(function () {
        $("#search_processCode").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/DW_ProcessSetup/GetProcessCode",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    }
                })
            },
            messages: {
                noResults: 'No results found.',
                results: function (count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            },
        });
        $("#search_processNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/DW_ProcessSetup/GetProcessNo",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    }
                })
            },
            messages: {
                noResults: 'No results found.',
                results: function (count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            },
        });
    })

    $(document).ready(function () {
        /*
        $("#search_partName_id").select2({
            placeholder: "All",
            allowClear: true,
            width: 'resolve'
        });
       */

        //-------------------------------------------Table1-------------------------------------------------------//
        var dt = $("#table1").DataTable({
            "data":@Html.Raw(Json.Encode(Model.ProcessList)),
            "columns": [
                { "data": "id", "autowidth":true },
                { "data": "id", "autowidth":true
                        ,"render": function(data, type, row){
                            return '<div><a href="/DW_ProcessSetup/Edit?id='+data+'" class="btn btn-sm btn-success"><i class="fas fa-edit"></i>Edit</a></div>';
                        }
                },
                { "data": "id", "autowidth":true },
                { "data": "processCode", "autowidth":true},
                { "data": "processNo", "autowidth":true},
                { "data": "partName","autowidth":true},
            ],
            select: true,
            buttons: [],
            "pageLength": 30,
            "lengthMenu": [[30,50,100,-1],[30,50,100,"All"]],
            columnDefs: [
                          {sortable: false,targets: 1 , width:100} ,
                          {sortable: false,targets: 2 , width:50} , 
                          {sortable: true,targets: 3 , width:120} , 
                          {sortable: true,targets: 4 , width:120} ,  
                          {sortable: true,targets: 5 , width:120} ,  
                          {targets: 0 , orderable: false, className: 'select-checkbox',
                              'render': function(data, type,full,meta){
                                  return '<input type="checkbox" name="selectedItem" value="'+data+'">';
                              }
                          }
            ],
            "ordering": true,
            order: [[ 3, 'asc' ]],
            fixedColumns: true

        })
        dt.on('order.dt search.dt', function () {
            let i = 1;
            dt.cells(null, 2, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();
    });


</script>