@model OCTWEB_NET45.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-content ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg p-0 mb-0 bg-white rounded ">
                    <!--shadow-lg border-0 rounded-lg mt-0 mb-3-->
                    @using Microsoft.AspNet.Identity
                    @if (Session["MenuModels"] == null)
                    {
                        <div class="card-header justify-content-center">
                            <h3 class="font-weight-bolder my-1 text-center">Log In</h3>
                            <p class="text-success">@ViewBag.Message</p>
                        </div>
                        <div class="card-body">

                            <section id="loginForm">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="mb-1">User Name: </label>
                                                @Html.TextBoxFor(m => m.UserName, new { placeholder = "n-sername", @class = "form-control", })
                                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="mb-1">Password: </label>
                                                @Html.PasswordFor(m => m.Password, new { placeholder = "password", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group mt-0 mb-1">
                                                <button type="submit" id="login" name="login" value="Log in" class="btn btn-primary">
                                                    <i class="fas fa-sign-in-alt"></i> Log in
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    @* Enable this once you have account confirmation enabled for password reset functionality *@
                                    <br />
                                    <hr />
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="control-label"> Forgot your password? </label>
                                                <a href="@Url.Action(actionName: "ForgotPassword", controllerName: "Account")" class="btn btn-danger">
                                                    <i class="fab fa-rev"></i> Reset password
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <p>
                                        <!--Html.ActionLink("Register", "Register") if you don't have a local account.-->
                                    </p>
                                }
                            </section>
                        </div>
                    }
                    else
                    {
                        <div class="card-header"><h2 class="font-weight-bolder my-1 text-center"> WELCOME TO OCT </h2></div>
                        <div class="card-body">
                            <div class="row">
                                <p>Hello  @User.Identity.GetUserName() ! </p>

                            </div>
                            <div class="row">
                                <p><a href="/Account/LogOff"> Log Out</a></p>
                            </div>
                            <div class="row">
                                <p><a href="/Account/Manage"> Change Password </a></p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@*@section Scripts {
    Scripts.Render("~/bundles/jqueryval")
}*@
<script language="JavaScript">
    document.getElementById("sidemenubar").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
</script>